<ion-header>
  <ion-toolbar>
    <!--<ion-title>SectionOverview</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <br/>
    <div *ngIf="hidden">
      <ion-list *ngFor="let item of sections">
        <p>Sektion navn: {{item.name}}</p>
        <div class="row" *ngFor="let image of item.images; let i =index">
          <img src="data:image/png;base64,{{image?.imageString}}" height="80" width="160">
          <p>Taget den: {{image?.pictureTakenDate | date: "dd MMMM yyyy" : "" :"da"}}</p>
          <br/>
        </div>
        <ion-button (click)="GoToSection(item)">Gå til sektion</ion-button>
      </ion-list>
    </div>
    <br>
    <br>
    <ion-label>Sektion navn </ion-label>
    <input #name>
    <br>
    <ion-button (click)="CreateSection(name.value)">Opret ny sektion</ion-button>
    <br/>
    <br>
    <!--<ion-button (click)="GetSections()">Upload billed test</ion-button>-->
    <br>
    <br>
    <br>
    <ion-button (click)="Logout()">Log ud</ion-button>
  </div>
</ion-content>
