<ion-header>
  <ion-toolbar>
    <!--<ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="Login" align="center">
    <br /><br><br>
    <ion-label>Email </ion-label>
    <input #email />
    <br/>
    <ion-label>Kodeord </ion-label>
    <input #password/>
    <br/>
    <ion-button (click)="Login(email.value, password.value)">Login</ion-button>
    <br/><br/><br/><br><br><br><br><br><br><br>
    <ion-button (click)="CreateUser()">Opret bruger</ion-button>
  </div>
</ion-content>
